:root {
    --main-bg-color: #16202F;
    --secondary-bg-color: #283344;
    --main-yellow: #FFD300;
    --main-white: #FFFFFF;
    --active-menu-color: #191750;
    --main-grey: #767365;
}

 @font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('/fonts/din-alternate-cufonfonts-webfont/DINAlternate-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Andale Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Andale Mono Regular'), url('/fonts/andale-mono-cufonfonts-webfont/ANDALEMO.woff') format('woff');
    }

@font-face {
    font-family: 'Futura-Condensed-Medium';
    src: url('/fonts/Futura\ Condensed\ Medium/.otf');
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    background-color: var(--main-yellow);
    color: var(--main-bg-color);
    padding: 1em;
    text-align: end;
    font-family: 'Andale Mono Regular';
}

.container {
    /* flex container for sticky footer */
    flex: 1 0 auto; 
    background: var(--main-bg-color);
    color: var(--main-white);
    padding-top: 5%;
    font-family: 'Andale Mono Regular';
   }

.link {
    color: var(--main-yellow);
}


/* Navigation bar and logo */

#logo img {
    width: 200px;
}

#nav-wrapper {
    position: fixed;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: 'DIN Alternate Bold';
    z-index: 100;
  
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    padding-right: 3%;
    display: flex;
}

li a {
display: block;
color: var(--main-white);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--main-bg-color);
}

.active {
    color: var(--main-bg-color);
    background-color: var(--main-white);
}

/* Footer styles */

footer {
    min-height: 100px;;
    z-index: 100;
    flex-shrink: 0;
    background: var(--secondary-bg-color);
  
    font-size: 1.5em;
    color: var(--main-grey);
}

#footer-links ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;   
}

/* About  */

.about {
    background-color: var(--secondary-bg-color);
    width: 100%;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--secondary-bg-color);
}

  /*small image styles */
  .img-sm {
    max-width: 375px !important;
}

/* Lightbox fullscreen images styles */
.img-lg {
    width: 1350px !important;
}


/* Mobile */
    @media (max-width: 768px) {

        .banner {
            height: 50px;
            position: relative;
            top: 75px;
            margin-bottom: 6rem;
        }

        #nav-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #nav-bar, #nav-bar li {
        display: none;
        }

        /* home mobile */

        .home-container {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            font-size: .9rem;
        }

        .article-1 {
            height: 650%;
            margin-bottom: 3rem;
        }

        #home-img {
            padding-top: 5rem;
            width: 100%;           
        }

        .article-2 {
            background-color: var(--secondary-bg-color);
            display: grid;
            grid-template-columns: 1fr;  
            width: 100%;        
        }

        .section {
            justify-content: center;
            align-self: center;
            padding: 1rem 2rem;
        }

        #section-1 {
            color: var(--main-yellow);
        }

        #section-2 {
            background-color: var(--main-bg-color);
        }

        .article-3 {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 3rem;
            gap: 2rem;
        }
      
        .reportagen-title {
            margin:0;
            padding:2rem;
        }

        .card img {
            width:100%;
        }

        .card {
            background-color: var(--main-white);
            max-width: 375px;
            justify-self: center;
        }

        .card-text {
            padding:1px 16px;
            color: var(--main-bg-color);
        }




        /* About */

        .about {
            grid-template-columns: 1fr;
            height: 75vh;
            margin-top: 100px;
            grid-template-areas: 
            "name"
            "img"
            "about"
            "link";
            font-size: .9em;
        }

        .about .name {
            grid-area: name;
            padding: .5rem;
            justify-self: center;
        }
    
        .about img {
            grid-area: img;
            width: 100%;
            padding: .5rem;
        }
    
        .about .about-text {
            grid-area: about;
            padding: .5rem;
        }
    
        .about .photos-link {
            grid-area: link;
            padding: .5rem;
        }
       

        /* Austellung mobile */

        #austellung-a1 {
            margin-bottom: 3rem;
        }

        #title-image {
            width: 100vw;
        }

        .details {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 10%;
        }

        #when, #where, #directions, #catalogue-link {
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
            justify-content: space-around;
        }

        #when h3, #where h3, #directions h3 {
            padding-top: 1rem;
            width: 60%;
            margin: auto;
        }

        #when p, #where p, #directions p {
            padding-bottom: 1rem;
            width: 60%;
            margin: auto;
        }

        #catalogue-link {
            width: 60%;
            margin: auto;
            padding-bottom: 10%;
        }

        /* katalog mobile */

        .katalog-container {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 35vh;
            padding: 2rem;
        }

        .katalog-container img {
            width: 80%;
            justify-self: center;
        }

        .order-katalog {
            width: 80%;
            justify-self: center;
            margin-top: 2rem;
        }

          /* Kontakt mobile */


          .contact-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            padding: .5rem;
        }

        /* footer mobile */

        footer {
            /* position: fixed; */
            bottom: 0;
            width: 100%;
            height: 2rem;
        }

        #footer-links ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 12px;
            list-style-type: none;
            text-decoration: none;
        }
        
        #footer-links ul li {
            display: block;
            border: .5px solid;
            border-color: var(--main-bg-color);
            border-radius: 3px;
        }

    
    }

    /* ---desktop---*/

    @media (min-width: 769px){
        #logo img {
            padding: 5%;
        }

        .banner {
            max-width: 50vw;
            margin-top: 4rem;
            min-height: 65px;
            margin-bottom: 4rem;
        }

        #kunstler-banner {
            max-width: 100%;
        }

        /* Main content styles */

        /* home */

        .home-container {
            display: grid;
            grid-template-columns: 1fr;
        }

        .article-1 {
            display: grid;
            grid-template-columns: 1fr;
            height: 100vh;
            width: 100%;
        }

        #home-img {
            width: 65%;
            align-self: flex-start;
            justify-self: center;
        }

        .article-2 {
            background-color: var(--secondary-bg-color);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            grid-template-areas: 
            "sec-1 sec-2"
            "sec-3 sec-3";
            gap: 1rem;
            padding: 0 5rem;
        }

        .section {
            padding: 2rem;
        }

        #section-1 {
            grid-area: sec-1;
            width: 60%;
            justify-self: center;
            align-self: center;
            color: var(--main-yellow);
        }

        #section-2 {
            grid-area: sec-2;
        }

        #section-3 {
            grid-area: sec-3;
        }

        .article-3 {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1.5rem;
            justify-content: space-around;
            margin-bottom: 5rem;
        }
      
        .reportagen-title {
            grid-column: 1/4;
            margin:0;
            padding:2rem;
        }

        .card img {
            width:375px;
        } 

        .card {
            background-color: var(--main-white);
            max-width: 375px;
            justify-self: center;
        }

        .card-text {
            padding:1px 16px;
            color: var(--main-bg-color);
        }

        /* Austellung */

        .details {
            margin-bottom: 10%;
        }

        #when, #where, #directions, #catalogue-link {
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
            justify-content: space-around;
        }

        #when h3, #where h3, #directions h3 {
            padding-top: 1rem;
            width: 60%;
            margin: auto;
        }

        #when p, #where p, #directions p {
            padding-bottom: 1rem;
            width: 60%;
            margin: auto;
        }

        #catalogue-link {
            width: 60%;
            margin: auto;
            padding-bottom: 10%;
        }


        /* images and lightbox */

        #lightbox {
            display: none;
            position: fixed;
            z-index: 1000;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--secondary-bg-color);
            margin: auto;
            overflow: auto;
        }


        .lightbox-content {
            position: relative;
            background-color: var(--secondary-bg-color);
            margin: auto;
            padding: 0;
            width: 70%;
            opacity: 1;
        /* Calculate max width */
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }


        .images {
            display: none;
        }


        /* Next & previous buttons */
        .prev,
        .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* About */

        .about .name {
            grid-area: name;
            justify-self: start;       
            margin-right: .75rem; 
            padding-bottom: 1rem;
        }

        .about img {
            grid-area: img;
            justify-self: center;
            align-self: center;
            
        }

        .about .about-text {
           
            grid-area: about;
            align-self: center;
        }

        .about .photos-link {
            margin-top: 1rem;
            grid-area: link;
        }

        .about {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            min-height: 35vh;
            padding: 3rem;
            padding-bottom: 5rem;
            margin-bottom: 2.75rem;
            grid-template-areas: 
                "name . ."
                "about about about"
                "about about about"
                "link link link";
        }

        /* Katalog */

        .katalog-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            min-height: 35vh;
            padding: 5rem;
        }

        .katalog-container img {
            width: 80%;
            justify-self: center;
        }

        /* Kontakt */

        .contact-details {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            grid-template-areas: 
            "p-m p-n . .";
        }

        .project-manager {
            grid-area: p-m; 
            justify-self: center;           
        }

        .project-name {
            grid-area: p-n;           
        }

        
}
