:root {
    --main-bg-color: #16202F;
    --secondary-bg-color: #283344;
    --main-yellow: #FFD300;
    --main-white: #FFFFFF;
    --active-menu-color: #191750;
    --main-grey: #767365;
}

 @font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('/fonts/din-alternate-cufonfonts-webfont/DINAlternate-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Andale Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Andale Mono Regular'), url('/fonts/andale-mono-cufonfonts-webfont/ANDALEMO.woff') format('woff');
    }

@font-face {
    font-family: 'Futura-Condensed-Medium';
    src: url('/fonts/Futura\ Condensed\ Medium/.otf');
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
}

.banner {
    width: 100%;
    background-color: var(--main-yellow);
    color: var(--main-bg-color);
    padding: 1em;
    text-align: end;
    font-family: 'Andale Mono Regular';
}

.container {
    /* flex container for sticky footer */
    flex: 1 0 auto; 
    background: var(--main-bg-color);
    color: var(--main-white);
    padding-top: 5%;
    font-family: 'Andale Mono Regular';
   }

.link {
    color: var(--main-yellow);
    text-decoration: none;
}



/* Navigation bar and logo */

#logo img {
    width: 200px;
}

#nav-wrapper {
    position: fixed;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    font-family: 'DIN Alternate Bold';
    z-index: 100;
  
}

#nav-bar {
    list-style-type: none;
    overflow: hidden;
    padding-right: 3%;
    display: flex;
}

li a {
    display: block;
    color: var(--main-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--main-bg-color);
}


/* Footer styles */

footer {
    min-height: 100px;
    z-index: 100;
    flex-shrink: 0;
    background: var(--secondary-bg-color);
  
    font-size: 1.5em;
    color: var(--main-grey);
}

#footer-links ul {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;   
}

/* About  */

.about {
    background-color: var(--secondary-bg-color);
    width: 100%;
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--secondary-bg-color);
}

  /*small image styles */
  .img-sm {
    max-width: 375px !important;
}

  .img-sm-port {
      max-height: 375px !important;
  }

  .img-med {
     max-width: 500px;
     max-height: 450px;    
  }

.img-lg {
    width: 1350px !important;
}


/* Mobile */
    @media (max-width: 768px) {
        #logo {
            position: fixed;
            top:10px;
            left: 10px;         
        }      

        #bar1, #bar2, #bar3 {
            width: 35px;
            height: 5px;
            background-color: var(--main-yellow);
            margin: 6px 0;
            transition: 0.4s;
          }
              
          .change #bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          
          .change #bar2 {
                opacity: 0;
          }
          
          .change #bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
          
          .bars {  
            position: fixed;
            right: 0;
            top: 15px;
            margin-right: .5rem;
            z-index: 100;
          }

          .nav-wrapper {
            display: flex;
            padding: 0; 
            background-color: var(--secondary-bg-color);
            top: 0;
            left: 0;
            position: fixed; 
            z-index: 1000;    
            font-family: 'Lekton', sans-serif;
          }
          
          #nav-bar {
            padding-top: 100px;
            background: var(--main-bg-color);
            position: fixed; 
            top: 0;
            width: 100%;
            height: 100vh;
            display: none;
          }
          
          #nav-bar li a {
            padding-top: 5%;
            padding-bottom: 5%;
            width: 70%;         
            margin: auto;
            display: block;      
            text-decoration: none;
            color:rgba(234, 237, 242, 1);      
          }

          #nav-bar li a:hover {
              background-color: var(--secondary-bg-color);
          }

        .container {
            scroll-snap-type: mandatory;
        }

        .banner {
            height: 50px;
            position: relative;
            top: 75px;
            margin-bottom: 6rem;
        }

        /* home mobile */

        .home-container {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            font-size: .9rem;
        }

        .article-1 {
            height: 650%;
            margin-bottom: 3rem;
        }

        #home-img {
            padding-top: 5rem;
            width: 100%;           
        }

        .article-2 {
            background-color: var(--secondary-bg-color);
            display: grid;
            grid-template-columns: 1fr;  
            width: 100%;        
        }

        .section {
            justify-content: center;
            align-self: center;
            padding: 1rem 2rem;
        }

        #section-1 {
            color: var(--main-yellow);
        }

        #section-2 {
            background-color: var(--main-bg-color);
        }

        .article-3 {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 3rem;
            gap: 2rem;
            justify-items: center;
        }
      
        .reportagen-title {
            margin:0;
            padding:2rem;
        }
        
        .card {
            scroll-snap-align: start;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--main-bg-color);
            height: 435px;
            width: 400px;
            border: 1px solid white;
            border-radius: 3px;
        }

        .card a {
            align-self: flex-start;
            padding-top: 1rem;
            justify-self: center;
        }

        .card-text {
            align-self: flex-end;
            justify-self: center;
            background-color: var(--main-white);
            max-height: 80px;
            padding-bottom: 1rem;
            background-color: var(--main-bg-color);
            color: var(--main-white);
            font-size: 0.9rem;
        }

        /* Offset anchor for link from home page */
        .anchors::before {
            display: block;
            content: '';
            position: relative;
            width: 0;
            height: 100px;
            margin-top: -100px;
            visibility: hidden;
        }


        /* About */

        .about {
            scroll-snap-align: start;
            grid-template-columns: 1fr;
            height: 75vh;
            grid-template-areas: 
            "name"
            "img"
            "about"
            "link";
            font-size: .9rem;
            max-height: 500px;
            margin-bottom: 150px;
        }

        .about .name {
            grid-area: name;
            padding: .5rem;
            justify-self: center;
        }
    
        .about .about-text {
            grid-area: about;
            padding: .5rem;
        }
    
       

        /* Austellung mobile */

        #austellung-a1 {
            margin-bottom: 3rem;
        }

        #austellung-img {
            max-width: 100vw;
            justify-self: center;
            margin-bottom: 2rem;
        }

        .details {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 10%;
        }
        
        .details-wrapper {
            display: grid;
            gap: 1rem;
            width: 100%;
            padding: 1rem;
        }

        /* #when, #where, #directions, #catalogue-link {
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
            justify-content: space-around;
        }

        #when h3, #where h3, #directions h3 {
            padding-top: 1rem;
            width: 60%;
            margin: auto;
        }

        #when p, #where p, #directions p {
            padding-bottom: 1rem;
            width: 60%;
            margin: auto;
        }

        #catalogue-link {
            width: 60%;
            margin: auto;
            padding-bottom: 10%;
        } */

        /* katalog mobile */

        .katalog-container {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 35vh;
            padding: 1rem;
        }

        .katalog-container img {
            width: 80%;
            justify-self: center;
        }

        .order-katalog {
            width: 80%;
            justify-self: center;
            margin-top: 2rem;
        }

          /* Kontakt mobile */


          .contact-details {
            display: grid;
            grid-template-columns: 1fr; 
            padding: .5rem;
            gap: 1rem;
        }

        .contact-details-wrapper {
            width: 100%;
            font-size: 0.9rem;
        }

        /* .contact-details-wrapper p a {
            text-align: center;
        } */

        /* footer mobile */

        footer {
            /* position: fixed; */
            bottom: 0;
            width: 100%;
            height: 2rem;
        }

        #footer-links ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 12px;
            list-style-type: none;
            text-decoration: none;
        }
        
        #footer-links ul li {
            display: block;
            border: .5px solid;
            border-color: var(--main-bg-color);
            border-radius: 3px;
        }

    
    }

    /* Tablet */
    

    /* ---desktop---*/

    @media (min-width: 769px){
        #logo img {
            padding: 5%;
        }

        /* Navbar active state  */
        .active {
            color: var(--main-bg-color);
            background-color: var(--main-white);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .bars {
            display: none;
        }

        .banner {
            max-width: 50vw;
            margin-top: 4rem;
            min-height: 65px;  
        }

        .banner-mb{
            margin-bottom: 4rem;
        }

        #kunstler-banner {
            max-width: 100%;
        }

        /* Main content styles */

        /* home */

        .home-container {
            display: grid;
            grid-template-columns: 1fr;
        }

        .article-1 {
            display: grid;
            grid-template-columns: 1fr;
            height: 100vh; 
            width: 100%;
        }

        #home-img {
            max-width: 1050px;
            padding-top: 3rem;
            justify-self: center;
        }

        .article-2 {
            background-color: var(--secondary-bg-color);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            grid-template-areas: 
            "sec-1 sec-2"
            "sec-3 sec-3";
            gap: 1rem;
            padding: 0 5rem;
        }

        .section {
            padding: 2rem;
        }

        #section-1 {
            grid-area: sec-1;
            width: 60%;
            justify-self: center;
            align-self: center;
            color: var(--main-yellow);
        }

        #section-2 {
            grid-area: sec-2;
        }

        #section-3 {
            grid-area: sec-3;
        }

        .article-3 {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 2.5rem;
            justify-items: center;
            margin-bottom: 5rem;
        }
      
        .reportagen-title {
            grid-column: 1/4;
            margin:0;
            padding:2rem;
        }

       
        .card {
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--main-bg-color);
            height: 435px;
            width: 400px;
            border: 1px solid white;
            border-radius: 3px;
        }

        .card img, .card a {
            align-self: flex-start;
            padding-top: 1rem;
            justify-self: center;
        }

       

        .card-text {
            align-self: flex-end;
            justify-self: center;
            background-color: var(--main-white);
            max-height: 80px;
            padding-bottom: 1rem;
            background-color: var(--main-bg-color);
            color: var(--main-white);
            font-size: 0.9rem;
        }

        /* Offset anchor for link from home page */
        .anchors::before {
            display: block;
            content: '';
            position: relative;
            width: 0;
            height: 200px;
            margin-top: -200px;
            visibility: hidden;
        }

        /* Austellung desktop */

        .article-austellung {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 100vh; 
            width: 100%;
        }

        #austellung-img {
            max-width: 960px;
            justify-self: center;
        }

        .details {
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--secondary-bg-color);
            gap: 1rem;
            justify-items: center;            
            /* grid-template-areas: 
            ". when where directions ."
            ". link . . ."; */
        }

        .details-wrapper {
            display: grid;
            gap: 1rem;
            width: 60%;
            padding: 1rem;
        }

        /* #when {
            grid-area: when;
        }

        #where {
            grid-area: where;
        }

        #directions {
            grid-area: directions;
        }

        #catalogue-link {
            grid-area: link;
        } */

        .article-austellung img {
            padding-bottom: 2rem;
        }

/* 
        #when, #where, #directions, #catalogue-link {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            justify-content: space-around;
        }

        #when h3, #where h3, #directions h3 {
            padding-top: 1rem;
            width: 80%;
           
        }

        #when p, #where p, #directions p {
            padding-bottom: 1rem;
            width: 80%;
        } */


        /* images and lightbox */

        .lightbox {
            display: none;
            position: fixed;
            z-index: 1000;
            padding-top: 50px;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--secondary-bg-color);
            margin: auto;
            overflow: auto;
        }

        .lightbox-img-content {
            display: grid;
            justify-items: center;
            align-items: end;
            
        }
        
        .lightbox-content .biography {
            width: 70%;
            justify-self: center;
            align-self: end;
            font-size: .9rem;
        }

        .lightbox-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--secondary-bg-color);
            margin: auto;
            padding: 0;
            max-width: 90%;
            min-width: 90%;
            height: 700px;
            opacity: 1;
        
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            right: 25px;
            font-size: 35px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }


        .images {
            display: none;
        }


        /* Next & previous buttons */
        .prev,
        .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
/* --------------------------------------------- */
        /* About */

        .about .name {
            grid-area: name;
            justify-self: start;       
            margin-right: .75rem; 
            padding-bottom: 1rem;
        }

        .about img {
            grid-area: img;
            justify-self: center;
            align-self: center;
            
        }

        .about .about-text {
           
            grid-area: about;
            align-self: center;
        }

        .about .photos-link {
            margin-top: 1rem;
            grid-area: link;
        }

        .about {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            min-height: 35vh;
            padding: 3rem;
            padding-bottom: 5rem;
            margin-bottom: 2.75rem;
            grid-template-areas: 
                "name . ."
                "about about about"
                "about about about"
                "link link link";
        }

        /* Katalog desktop */

        .katalog-container {
            display: grid;
            grid-template-columns: 1fr;
            min-height: 35vh;
            padding: 2rem;
            justify-items: center;
        }

        /* .katalog-container img {
            width: 80%;
            justify-self: center;
        } */

        /* Kontakt desktop */

        .contact-details {
            display: grid;
            grid-template-columns:  1fr;
            gap: 2rem;
            justify-items: center;
            padding-bottom: 1rem;
            /* grid-template-areas: 
            "p-m p-n . ."; */
        }

        .contact-details-wrapper {
            width: 60%;
        }
/* 
        .project-manager {
            grid-area: p-m; 
            justify-self: center;           
        }

        .project-name {
            grid-area: p-n;           
        } */

        
}
